* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-negro;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

/* estilo para todas las paginas del sitio */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color-negro;
    margin: 0px 70px;

    ul {
        margin-bottom: 0px;
        padding-left: 0px;
    }
}

.logodelsitio {
    height: 80px;
}

.listas {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.enlaces {
    margin: 0px 20px;

    &_2 {
        font-size: 16px;
        text-decoration: none;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;

        &:hover {
            color: $color-botom;
        }
    }
}

.menu {
    height: 40px;
    margin-top: 18px;
}

.footer {
    background-color: $color-negro;
    height: 210px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px auto;
    grid-template-areas: 
    'ele1 ele2' 
    'ele3 ele3';
    align-items: center;

    &_logo {
        grid-area: ele1;
        height: 80px;
        padding-left: 6rem;
    }
    
    &_2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;   
        padding-right: 6rem;
    }
    
    &_enlaces {
        text-decoration: none;

        &_logos {
            grid-area: ele2;
            height: 40px;
            border-radius: 100%;
            margin: 0px 15px;
        }
    }
    
    &_parrafo {
        grid-area: ele3;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        padding-right: 6rem;
        margin-bottom: 2rem;
    }
}

