/* Estilos para la pagina de BENEFICIOS*/

.beneficios {

    &_section {
        background-image: url(../Imagenes/fondodelasection2.svg);
        background-size: cover;
        background-position: center;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100vh 250px 400px;
        justify-items: center;
        align-items: center;
    }
    
    &_titulo {
        margin-top: 30px;
    }
    
    &_parrafo {
        font-size: 18px;
        padding: 30px 60px 0px 60px; 
    }
}