/* estilos para la pagina de DESCARGAR */

.descargar {

    &_section {
        padding: 1rem;
        height: 620px;
        background-color: $color-fondo-1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &_titulo {
        font-size: 40px;
        text-align: center;
        margin: 0px 200px;
    }
    
    &_parrafo {
        font-size: 18px;
        text-align: center;
        margin: 15px 1rem;
    }
    
    &_boton {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        font-size: 12px;
        margin-top: 15px;
        height: 40px;
        width: 170px;
        border-radius: 30px;
        border: none;
        background-color: $color-negro;
        color: $color-blanco;
        transition: 0.3s;
    
        &:hover {
            background-color: $color-botom;
            box-shadow: 0 0 10px $color-botom, 0 0 40px $color-botom, 0 0 80px $color-botom;
            transition-delay: 0.5s;
        }
    }
    
    
    
    &_section_2 {
        padding: 1rem;
        height: 100%;
        background-image: url(../Imagenes/fondodelasection2.svg);
        background-size: cover;
        background-position: center;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 150px 150px 200px;
        justify-items: center;
        grid-template-areas: 
        'ele1 ele1'
        'ele2 ele2'
        'ele3 ele4';
    }
    
    &_titulo_2 {
        grid-area: ele1;
        font-size: 40px;
        text-align: center;
        padding: 0px 3rem;
        display: grid;
        align-items: flex-end;
    }
    
    &_parrafo_2 {
        grid-area: ele2;
        font-size: 18px;
        padding-top: 10px;
        text-align: center;
        margin: 0px 1rem; 
    }
}



.Appstore {
    grid-area: ele3;
    height: 60px;
   
}

.Playstore {
    grid-area: ele4;
    height: 60px;
}
