/* Estilos para la pagina de IMAGENES*/

.imagenes_section_1 {
    background-color: $color-fondo-1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh 300px;
    justify-content: center;
    align-items: center;
}

.imagenes_parrafo_1 {
    padding: 20px 100px;
}

.imagenes_section_2 {
    background-image: url(../Imagenes/fondodelasection2.svg);
    background-size: cover;
    background-position: center;
}

.imagenes_carrusel {
    padding: 5rem;
}